{% load static %}

<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>
            Did you guess succesfully ?
        </title>
        <link href="{% static 'guessnumber/style.css' %}" rel="stylesheet" >
        <body>
            <div>

                {% if rand_num %}
                    {% if number %}
                        <h1>You guessed it !</h1>
                    {% else %}
                        <h1>Try again , number was {{ rand_num }}</h1>
                    {% endif %}
                {% else %}
                    <h1>Guess the number !</h1>
                {% endif %}
            </div>

            <div class="entercenter">
                <form action="{% url 'guessnumber:index' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <br>
                    <br>
                    <input  class="button-5" type = "submit">
                </form>
                <br><br>
                <form action="{% url 'guessnumber:showguess' %}" method="get">
                    <button class="button-5" type="submit">Show The Results</button>
                </form>
            </div>
        
        
        </body>
    </head>
</html>